@import 'ui-variables';

.web-data-editor {
  margin-top: 3px;
  margin-bottom: 8px;
}

.web-data-inline-label {
  margin-right: 12px;
}

.web-data-button-bar {
  margin-top: 3px;
  display: flex;
  flex-direction: row-reverse;
}

.web-data-select {
  width: 100%;
  color: @text-color;
  border-color: @button-border-color;
  background-color: @button-background-color;
  &:hover,
  &:focus {
    box-shadow: none;
    background-color: @button-background-color-hover;
  }
}

.web-data-select-container {
  display: flex;
  align-items: stretch;
  margin-top: 3px;
  margin-bottom: 3px;
}

.web-data-response-header {
  color: @text-color;
  font-size: 1.2em;
}

.web-data-response-subheader {
  color: @text-color;
  font-style: italic;
  margin-top: 4px;
}

.web-data-response-view {
  overflow: auto;
  margin-left: 10px;
  margin-top: 10px;
}

.web-data-response-table tr td {
  color: @text-color-subtle;
  padding-right: 8px;
}

.web-data-response-error {
  background-color: #7f0000;
  color: white;
}

.web-data-response-item {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: @background-color-highlight;
}

.web-data-response-subitem-padding {
  margin-top: 8px;
}

.web-data-subitem-content {
  margin-left: 5px;
}
